<h1>PlayList...</h1>

<ol>
    <li><a href="/musics/music_1">Red Hot Chili Peppers - Dani California</li>
    <li><a href="/musics/music_2">Red Hot Chili Peppers - Can't Stop</a></li>
    <li><a href="/musics/music_3">The Great Escape - Boys Like Girls</li>
</ol>