<h1>Utilities#get_stock_info</h1>
<p>원하는 NASDAQ 주식의 심볼을 입력하세요 :</p>
<form action='/utilities/show_stock_info'>
    <input type="text" placeholder="기업명을 영어로 입력하세요." name='company_code1'></input>
    <input type="text" placeholder="기업명을 영어로 입력하세요." name='company_code2'></input>
    <input type="text" placeholder="기업명을 영어로 입력하세요." name='company_code3'></input>
    <input type="submit" value="선택"></input>
</form> 